<!DOCTYPE html>
<html>
<body>

<br><br><h2>createpostcommenttree</h2>

<form action="/createpostcommenttree">
  <label for="community_id">community_id: </label><br>
  <input type="text" name="community_id" value="18"><br>
  <label for="ids">ID: </label><br>
  <input type="text"  name="id"><br><br>
  <label for="sleep">sleep: </label><br>
  <input type="text"  name="sleep"><br>
  <input type="submit" value="Submit">
</form> <br>

<br><h2>createcommenttree</h2>

<form action="/createcommenttree">
  <label for="community_id">post_id: </label><br>
  <input type="text" name="post_id" ><br>
  <label for="ids">submission ID: </label><br>
  <input type="text"  name="id"><br><br>
  <label for="sleep">sleep: </label><br>
  <input type="text"  name="sleep"><br>
  <input type="submit" value="Submit">
</form> <br>

<br><h2>deletepost</h2>

<form action="/deletepost">
  <label for="community_id">community_id: </label><br>
  <input type="text" name="community_id" value="18"><br>
  <label for="ids">ID: </label><br>
  <input type="text"  name="id"><br><br>
  <label for="sleep">sleep: </label><br>
  <input type="text"  name="sleep"><br>
  <input type="submit" value="Submit">
</form> <br>
